@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@600&display=swap");

.card {
  height: 250px;
  display: flex;
  padding-left: 90px;
  padding-right: 90px;

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: auto;

    h3 {
      color: var(--blue, #00487c);
      font-family: "Montserrat", sans-serif;
      text-align: center;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
    }

    p {
      text-align: center;
      color: var(--b-1, #1e1e1e);
      font-family: "Open Sans", sans-serif;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--blue, #00487c);
      font-family: "Poppins", sans-serif;
    }
  }
}
