@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.mentor {
  background-color: #fff;

.heading {
  p {
    font-family: "Montserrat", sans-serif;
    color: #292f36;
    font-size: 48px;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    top: 62px;
  }
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;

  @media (max-width: 1200px) {
    gap: 10px;
  }

  @media (max-width: 768px) {
    justify-content: flex-start;
    gap: 10px;
  }

  @media (max-width: 576px) {
    justify-content: center;
    gap: 10px;
  }

  @media (min-width: 992px) {
    .img-container {
      flex-basis: calc(24% - 25px);
    }
  }

  @media (max-width: 991px) {
    .img-container {
      flex-basis: calc(33.3333% - 20px);
    }
  }
}
}
